/**
 * Slider specific styles
 */

.slider {
    position: relative;
    width: 320px;
    margin: 0 auto 40px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.slides {
    display: block;
}

.frame {
    position: relative;
    width: 270px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.frame li {
    position: relative;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    height: 130px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    background: #2E435A;
    color: #fff;
}

.simple {
    width: 270px;
    margin-right: 10px;
}

